body {
  margin: 10px;
  background-color: #fbfbfb;
}
.container-fluid{
  margin-top: 60px !important;
}
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: #F5FCFB;
}

.label {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}

.scroll {
    max-height: 270px;
    overflow-y: auto;

}

.mycontent-left {
  border-right: 1px solid #D4D4D4;
}

.card-body {
  padding-bottom: 0.1rem !important;
}
.table{
  font-size: 11px;
  //padding: 0px !important;
  line-height: 1.1 !important;
}

img {
  height: 160px;
}
tbody th, table.dataTable tbody td {
  padding: 10px 5px 5px 5px !important;
}
.dataTables_wrapper .dataTables_filter input {
  border-radius:25px;
  height: 1.5rem !important;
  //margin-top: 10px;
}
#mydatatable_paginate, #mydatatable_info {
  font-size: 11px !important;
}

#cardscript{
  text-align: center;
}
#cardplaceholder{
  padding-left: 0px !important;
  padding-right: 25px !important;
}
table.dataTable tbody td:nth-child(4), 
table.dataTable tbody td:nth-child(6), 
table.dataTable tbody td:nth-child(5) {
  text-align:right;
  padding-right: 1.6rem !important;
}
.nav-button{
  margin-top:0.1rem;
}
/* width */
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #510C66; 
}

.circlepack-tooltip {
  background-color: #f3f3f3;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #535353;
}

.dropdown-menu {
  font-size: 13px !important;
}
.data-source{
  margin-top: -1%;
  font-size: 0.75rem;
}